version: 2
registries:
  dhi:
    type: docker-registry
    url: dhi.io
    username: ${{ secrets.DOCKER_USER }}
    password: ${{ secrets.DOCKER_PAT }}
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/app/"
    schedule:
      interval: "daily"
    registries:
    - dhi
    groups:
      ci:
        patterns:
          - "*"
  - package-ecosystem: "nuget"
    directory: "/app/"
    schedule:
      interval: "daily"
    groups:
      ci:
        patterns:
          - "*"
