name: open-pr
permissions:
  contents: read
on:
  pull_request:
env:
  SCORE_COMPOSE_VERSION: 'latest'
  SCORE_K8S_VERSION: 'latest'
  WORKLOAD_NAME: my-sample-workload
jobs:
  scan-and-compare:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: docker build
        run: |
          docker build -t ${{ env.WORKLOAD_NAME }}:test app/
      - name: docker login
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: install docker scout
        run: |
          sudo curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
          sh install-scout.sh
      - name: docker scout quickview
        run: |
          docker images
          docker scout quickview ${{ env.WORKLOAD_NAME }}:test
      #- name: Docker Scout
      #  id: docker-scout
      #  if: ${{ github.event_name == 'pull_request' }}
      #  uses: docker/scout-action@v1
      #  with:
      #    command: quickview
      #    image: docker.io/library/${{ env.WORKLOAD_NAME }}:test
      #    to: ghcr.io/mathieu-benoit/my-sample-workload:latest
      #    write-comment: true
      #    github-token: ${{ secrets.GITHUB_TOKEN }}
  multi-arch-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: build container image in multi-arch
        uses: docker/build-push-action@v6
        with:
          context: app/
          platforms: linux/amd64,linux/arm64
          file: app/Dockerfile
          push: false
          tags: "${{ env.WORKLOAD_NAME }}:test"
  make-compose-test:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: install score-compose
        uses: score-spec/setup-score@v3
        with:
          file: score-compose
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_COMPOSE_VERSION }}
      - name: make compose.yaml
        run: |
          make compose.yaml
      - name: make compose-test
        run: |
          make compose-test
  make-k8s-test:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: docker build
        run: |
          docker build -t ${{ env.WORKLOAD_NAME }}:test app/
      - name: make kind-create-cluster
        run: |
          make kind-create-cluster
      - name: make kind-load-image
        run: |
          make kind-load-image
      - name: install score-k8s
        uses: score-spec/setup-score@v3
        with:
          file: score-k8s
          token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ env.SCORE_K8S_VERSION }}
      - name: make k8s-up
        id: k8s-up
        run: |
          make k8s-up
      - name: catch k8s-up errors
        if: ${{ failure() && steps.k8s-up.outcome == 'failure' }}
        run: |
          kubectl get events
          kubectl logs \
              -l app.kubernetes.io/name=${{ env.WORKLOAD_NAME }}